.exchange-topbar {
  background-color: antiquewhite;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    li:last-child {
      display: flex;
      gap: 1rem;
      color: rgb(147, 49, 14);
    }
    span {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
