@import "bootstrap/scss/bootstrap";

h1 {
  color: red;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(106, 150, 18);
  text-decoration: none;
}

.dark-mode {
  background-color: rgb(55, 55, 55);
  color: white;
}

.dark-mode-header {
  background-color: rgb(94, 94, 94);
  color: white;
}
